@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'nprogress/nprogress.css';
@import '@fortawesome/fontawesome-svg-core/styles.css';

#nprogress .bar {
    background: limegreen !important;
}

.list-lower-alpha {
    list-style-type: lower-alpha;
  }
.list-upper-alpha {
    list-style-type: upper-alpha;
}
